@model IEnumerable<AttaBoyGameStore.Models.Brand>

@{
    ViewData["Title"] = "Brands";
}

<h1>Brands</h1>

<ul>
    @foreach (var brand in Model)
    {
        <li><a asp-action="ShopByBrand" asp-route-brand="@brand.Name">@brand.Name</a></li>
    }
</ul>


